@charset "utf-8";

*{
	margin: 0px;
	padding: 0px;
}

body {
	
}

.navbar {
	background-color: white;
	margin-top: 30px;
}

.nav-item {
	background-color: #EDECDF;
	margin: 0px 2px 0px 2px;
}

.nav-item-cont {
	border-radius: 0px 5px 5px 0px;
}

.nav-item-inicio {
	border-radius: 5px 0px 0px 5px;
	margin: 0px 2px 0px 45px;
}

.active-menu {
	background-color: #C9A04F;
	margin: 0px 2px 0px 2px;
}

.nav-link-active {
	display: block;
	padding: 0.5rem 5rem;
	color: white;
	font-weight: bold;
}

.nav-link-active:hover {
	text-decoration: none;
	color: white;
}

.link-nav-inicio {
	display: block;
	padding: 0.5rem 5rem;
	color: black;
	font-weight: bold;
}

.link-nav-inicio:hover {
	text-decoration: none;
	color: white;
	background-color: #C9A04F;
	border-radius: 5px 0px 0px 5px;
}

.link-nav {
	display: block;
	padding: 0.5rem 5rem;
	color: black;
	font-weight: bold;
}

.link-nav:hover {
	text-decoration: none;
	color: white;
	background-color: #C9A04F;
}

.link-nav-cont {
	display: block;
	padding: 0.5rem 5rem;
	color: black;
	font-weight: bold;
}

.link-nav-cont:hover {
	text-decoration: none;
	color: white;
	background-color: #C9A04F;
	border-radius: 0px 5px 5px 0px;
}

.container-bienvenida {
    position: relative;
    max-width: 70%;
    margin: 40px auto 150px auto;
    background-color: white;
    text-align: left;
}
.container-bienvenida h1 {
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;
}

.accordion {
    background-color: #EDECDF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: x-large;
    margin-top: 70px;
}

.active, .accordion:hover {
  background-color: #C9A04F;
	color: white;
}

.panel {
  padding: 20px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795';
  font-size: 20px;
	color: aquamarine;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}


.piepag {
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 30px;
    background-color: #C9A04F;
}
.membresias {
    margin-top: 160px;
}
